body{
    background-color: #ffff;
}

h1,h2{
    background-color:#ddd;
    font-size: 50px;
    text-align: center;
}
h2{
    background-color:#ddd;
    font-size: 50px;
    text-align: center;

}